$container = $("#image_stores")
if($container.find(".img-row").length === 0)
{
	$container.append($("<div class='row img-row'></div>"));
}
if($container.find(".img-row:last-child .img-col").length < 4)
{
	addImage();
}
else
{
	$container.find(".img-row:last-child").after($("<div class='row img-row'></div>"));
	addImage();
}

function addImage()
{
	$container.find(".img-row:last-child").append("<%= j render template: 'image_stores/show', locals: { image_store: @image_store } %>");
}