<%= javascript_include_tag :image_stores %>
<div class="container">
	<h1>Images</h1>
	<div id="image_stores">
		<% @image_stores.each_slice(4) do |image_store_row| %>
			<div class="row img-row">
				<% image_store_row.each do |image_store| %>
					<%= render template: "image_stores/show", locals: { image_store: image_store } %>
				<% end %>
			</div>
		<% end %>
	</div>
	<%= render template: "image_stores/new" %>
	<script id="template-upload" type="text/x-tmpl"><div class="progress upload">{%=o.name%}<div class="progress-bar" role="progressbar"></div></div></script>
</div>